@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-secondary-color-bg-2 dark:bg-dark2 text-secondary-color-2 dark:text-white mx-auto w-full p-0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  svg {
    @apply max-w-full;
  }
}
@layer components {
  input {
    @apply bg-transparent outline-none focus:ring-0;
  }
  .post-content {
    @apply text-sm lg:text-base;
    pre[class*="language-"] {
      @apply overflow-x-auto my-5 text-base;
    }
    h2 {
      @apply text-xl lg:text-2xl font-bold mb-3 lg:mb-5;
    }
    h3 {
      @apply text-lg lg:text-xl font-bold mb-3 lg:mb-5;
    }
    h4 {
      @apply text-base lg:text-lg font-bold mb-3 lg:mb-5;
    }
    p,
    ul,
    li,
    ol,
    blockquote {
      @apply mb-3;
    }
    figure,
    img {
      @apply my-5 block max-w-full;
    }
    p code {
      @apply text-sm px-3 py-1 rounded bg-gray-100 dark:bg-dark4;
    }
  }
}
@layer utilities {
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 shadow-none focus:ring-offset-0 outline-none #{!important};
  }
  .bgWhite_darkBgDark3 {
    @apply bg-white dark:bg-dark3;
  }
  .flexBetween {
    @apply flex justify-between items-center;
  }
}

.post-container {
  container-type: inline-size;
  container-name: post-container;
}
@container post-container (max-width: 590px) {
  .post-card-author {
    @apply hidden;
  }
}
